body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

.card-body h4 {
    font-weight: bold;
    padding: 50px;
    font-size: 30px;
}

.card-body h5 {
    padding-top: 0px;
    padding-left:40px;
}

.navbar-brand {
    font-size: 22px;
    Color: white;
}